{% extends "critica_cine/base.html" %}

{% block titulo %}

<title>Blog de cine y series: Peliculas </title>

{% endblock titulo %}





{% block contenido %}
<section>
    <div>
        <h1>Proximos estrenos</h1>

        <a href="{% url "crear_estreno" %}">Añadir estreno</a>
        <br></br>

 
        <table class = "table">
            <tbody>
               <tr>
                   <th> Nombre</th>
                   <th> Director</th>
                   <th> Pais de origen</th>
                   <th> Ver </th>
                   <th> Editar </th>
                   <th> Eliminar </th>
                   
                </tr>         
                {% for estreno in object_list %}
                <tr>
                   <td>{{estreno.nombre_de_pelicula}}</td>
                   <td>{{estreno.director}}</td>
                   <td>{{estreno.pais_de_origen}}</td>
                   <td>
                    <a href = "{% url "ver_estreno" estreno.id %}">Ver<a>                  
                   </td>
                   <td> 
                     <a href = "{% url "editar_estreno" estreno.id %}">Editar<a>
                    </td> 
                    <td> 
                      <a href = "{% url "eliminar_estreno" estreno.id %}"><button type="button" class="btn btn-danger">Eliminar</button>
                    </td> 
                </tr>
   
                {% endfor %}
   
            </tbody>
          </table> 
         
{% endblock contenido %}